* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "宋体";
}

/* 顶部 */
h3 {
    position: fixed;
    top: 0;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Courier New', Courier, monospace;
    background: rgba(175, 206, 201, 0.479);
}

.typing {
    width: 100ch;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 5s steps(100) infinite alternate-reverse;
}

@keyframes typing {
    from {
        width: 0ch;
    }
}

/* 名字头像 */
.main {
    width: 900px;
    height: 900px;
    margin: 60px auto;
    background-color: #e8e7e7;
    border: 1px dashed #818181;
    border-top: 0;
    border-bottom: 0;
}

.main .top {
    overflow: hidden;
}

.main .top img {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px 30px;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #565555;
}

.main .top h1 {
    float: left;
    margin: 30px 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
}

/* 介绍 */
.main .introduce div {
    margin: 20px 50px;
}

.main .introduce div p {
    line-height: 20px;
    font-size: 16px;
    color: #666;
}

.main .introduce div p span {
    font-size: 17px;
    color: #333;
    font-weight: 700;
}

.main .introduce .think p span {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}
.main .introduce .think {
    width: 800px;
    border-radius: 25px;
    background: url(images/background.png) no-repeat;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.8);
}
.main .introduce .think p {
    width: 770px;
    height: 80px;
    padding: 10px 15px;
    border-radius: 25px;
    
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 20px;
    font-size: 14px;
    color: #ffffff;
}

/* 网站 */
.introduce .url a {
    float: right;
    display: block;
    width: 300px;
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    border-bottom: 2px dashed#989c9b;
    /* background-color: skyblue; */
    color: rgb(48, 48, 48);
    text-align: center;
}

.introduce .url a:hover {

    background-color: #d5dddc;
    border-bottom: 2px solid#989c9b;
}