*{
    margin: 0;
    padding: 0;
}
.box{
    width: 200px;
    height: 180px;
    /* background-color: pink; */
    margin-top: 50px;
    border: 2px dotted gray;
}
.fleft{
    float: left;
    margin-left: 50px;
}
.fright{
    float: right;
    margin-right: 50px;
}
.box .line{
    position: relative;
    width: 100%;
    height: 30px;
    /* background-color: yellow; */
    margin-top: 5px;
    margin-bottom: 5px;
}
.box .line .w{
    position: absolute;
    width: 25px;
    height: 25px;
    /* background-color: blue; */
    border: 2.5px solid gray;
}
.box .line .x{
    background-color: rgb(39, 166, 243);
    border: 2px solid rgb(39, 166, 243);
}
.box .line .center{
    left: 50%;
    margin-left: -15px;
}
.box .line .left1{
    left: 50%;
    margin-left: -50px;
}
.box .line .left2{
    left: 50%;
    margin-left: -85px;
}
.box .line .right1{
    left: 50%;
    margin-left: 20px;
}
.box .line .right2{
    left: 50%;
    margin-left: 55px;
}